html {
    background-color: rgb(86, 189, 108);
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 3vw;
    font-size: 5em;
    color: white;
    font-weight: bolder;
    margin: auto;
    display: block;
    text-align: center;

    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.sub-header{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 1vw;
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    margin: auto;
    display: block;
    text-align: center;

    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.rounded{
    color: white;
    width: 30%;
    margin: auto;
    display: block;
    outline: none;
    border: none;
    background-color: white;
    height: 1px;
    border-radius: 40%;

    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.search{
    color: white;
    margin: auto;
    display: block;
    border-radius: 25px;

    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.login{
    font: 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: grey;
    padding: 2px 6px 2px 6px;
    margin: auto;
    display: block;
    width: 10%;
    text-align: center;
    border-radius: 25px;
    
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.visit{
    font: 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: grey;
    padding: 2px 6px 2px 6px;
    width: 10%;
    text-align: center;
    border-radius: 25px;
    
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}


input.search{
    color: grey;
    text-align: center;
    outline: none;
    border: none;
    height: 2vw;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes slide {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
.dropdown {
     animation: fade 2s linear forwards;
}
  
#artistImage{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;

    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s;
}

.result-text{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    margin: auto;
    display: block;
    text-align: center;
    
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    animation: slide ease 2s;
    -webkit-animation: slide ease 2s; 
}

.results{
    display: flex;
}
.search-result{
    flex: 1;
}
.chart{
    flex: 1;
}

a:focus {
    outline: none;
}

a{
    text-decoration: none;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 0.5em;
    color: white;
    margin: auto;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0; 
    
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}